<% add_to_head do %>
  <link href="<%= root_path %>sidekiq-statistic.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>

<script type="text/javascript" src="<%= root_path %>realtime_statistic.js"></script>

<div class='statistic'>
  <h2><%= t('Statistic') %></h2>

  <div class='statistic__container'>
    <div class="realtime">
      <div class="realtime__failed-chart"></div>
      <div class="realtime__passed-chart"></div>
    </div>
  </div>
</div>
