<script type="text/javascript" src="http://www.chartjs.org/assets/Chart.min.js"></script>

<div class='history'>
  <h2>History</h2>

  <div class='history__container'>
    <h2>Failed</h2>
    <canvas id="js-failed-chart" width="800" height="200"></canvas>
    <h2>Passed</h2>
    <canvas id="js-passed-chart" width="800" height="200"></canvas>
    <script type="text/javascript">
      $(function () {
        Chart.defaults.global.responsive = true

        var failedData = {
          labels: <%= @worker_statistic.dates %>,
          datasets: <%= @worker_statistic.charts(:failed) %>
        };

        var passedData = {
          labels: <%= @worker_statistic.dates %>,
          datasets: <%= @worker_statistic.charts(:passed) %>
        };

        var ctx_failed = document.getElementById("js-failed-chart").getContext("2d");
        new Chart(ctx_failed).Line(failedData, {});

        var ctx_passed = document.getElementById("js-passed-chart").getContext("2d");
        new Chart(ctx_passed).Line(passedData, {});
      });
    </script>
  </div>
</div>
