<script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"></script>

<div class='history'>
  <h2>History</h2>

  <div class='history__container'>
    <h2>Failed</h2>
    <canvas id="js-failed-chart" width="800" height="200"></canvas>
    <h2>Passed</h2>
    <canvas id="js-passed-chart" width="800" height="200"></canvas>

    <h2>Worker table</h2>
    <table class="workers-statistic table table-hover table-bordered table-striped table-white">
      <thead>
        <th>Worker</th>
        <th>Date</th>
        <th>Success</th>
        <th>Failure</th>
        <th>Total</th>
        <th>Time(sec)</th>
        <th>Average(sec)</th>
        <th>StdDev(sec)</th>
      </thead>
      <% @workers.each do |worker| %>
        <tr>
          <td><%= worker[:name] %></td>
          <td><%= worker[:last_runtime] %></td>
          <td>10</td>
          <td>10</td>
          <td>20</td>
          <td>200</td>
          <td>100</td>
          <td>140</td>
        </tr>
      <% end %>
    </table>


    <script type="text/javascript">
      $(function () {
        Chart.defaults.global.responsive = true
        Chart.defaults.global.scaleLineColor = 'rgba(0,0,0,.4)'

        $.getJSON( '/sidekiq/history/charts.json', function (data) {
          createChart('failed', data, data.failed_datasets)
          createChart('passed', data, data.passed_datasets)
        })

      function createChart(type, data, datasets) {
        var ctxFailed = document.getElementById("js-" + type + "-chart").getContext("2d")

        new Chart(ctxFailed).Line({
          labels: data.labels,
          datasets: datasets
        }, {
          multiTooltipTemplate: data.tooltip_template
        })
      }
      })
    </script>
  </div>
</div>
