<script src="http://d3js.org/d3.v3.js"></script>

<div class='history'>
  <h2>History</h2>

  <div class='history__container'>
    <h2>Failed</h2>
    <div class="wrapper-area-simple"></div>
    <h2>Passed</h2>
    <script type="text/javascript">
      $(function () {
      })
    </script>
  </div>
</div>
