<div class='history'>
  <h2><%= @name %></h2>

  <div class="history__log">
    <% @worker_log.each do |line| %>
      <p style="color: <%= line[:color] %>"><%= line[:text] %></p>
    <% end %>
  </div>
</div>
