<% add_to_head do %>
<link href="<%= root_path %>sidekiq-history.css" media="screen" rel="stylesheet" type="text/css" />
<% end %>

<div class='history'>
  <h2><%= @name %> log</h2>

  <div class="history__log">
    <% @worker_log.each do |line| %>
      <p style="color: <%= line[:color] %>"><%= line[:text] %></p>
    <% end %>
  </div>
</div>
